<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width:1000px">
<span style="color:red;font-weight:700;">Live</span>
   <h1 style= "text-align:left;">Cyclone Ditwah LIVE: At least 56 persons have been reported dead in Sri Lanka, T.N. braces for intense rainfall</h1>
<p style="font-weight:600;">Cyclonic storm Ditwah over southwest Bay of Bengal and adjoining Sri Lanka coast and the depression (remnant of cyclonic storm ‘Senyar’) over the Strait of Malacca are expected to bring rains</p>
</div>
</body>
</html>